/* @import "~bootstrap/scss/bootstrap";
.content {
    flex: 1 0 auto;
    padding: 10px;
  }
  
  .footer {
    flex-shrink: 0;
    text-align: center;
    background-color: tomato;
    color: white;
  }
   

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  html,
  body {
    height: 100%;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  } 
   */

   body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    text-align: center;
    background-color: rgb(235, 195, 64);
}